body {
    margin: 0px;
    background-color: #f2f2e7;

}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
   grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

/*
.title {
    font-family: "neue-haas-grotesk-display";
    color: slategrey;
    font-size: 50px;
    position: absolute;
    top: 75px;
    left: 100px;
}

.descript {
    font-family: "neue-haas-grotesk-display";
    color: lightslategrey;
    font-size: 20px;
    font-weight: 300px;
    position: absolute;
    top: 150px;
    left: 100px;
}

.p1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: whitesmoke;
    position: absolute;
    left: 600px;
    top: 50px;
    width: 300px;
    background-color: slategray;
    padding: 20px;
    border-radius: 10px;
}

.p2 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: whitesmoke;
    position: absolute;
    left: 1000px;
    width: 300px;
    background-color: slategray;
    padding: 20px;
    border-radius: 10px;
}

.nbcvideo {
    position: absolute;
    align-content: center;
    top: 400px;
}


.pages {
    font-family: park-lane, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    color: white;
    position: relative;
    top: 500px;
}
*/
